{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-6">
                <div class="alert alert-info shadow">
                    Пока здесь ничего нет! Но скоро будет
                </div>
            </div>
        </div>
    </div>
{% endblock %}
