**/*.cache
**/*.dist
**/*.dist.php
**/*.log
**/*.md
**/*.php~
**/.DS_Store
**/._*
**/.dockerignore
**/.git/
**/.gitattributes
**/.gitignore
**/.gitmodules
**/Dockerfile
**/Thumbs.db
**/docker-compose.*.yaml
**/docker-compose.*.yml
**/docker-compose.yaml
**/docker-compose.yml
.editorconfig
.env.*.local
.env.local
.env.local.php
.env.test
.github/
docs/
public/bundles/
tests/
var/
vendor/

