apiVersion: v1
kind: Config
clusters:
- cluster:
    certificate-authority-data: {{ ca_cert }}
    server: {{ server_url }}
  name: {{ cluster_name }}
contexts:
- context: 
    cluster: {{ cluster_name }}
    user: {{ new_user }}
  name: {{ new_user }}@{{ cluster_name }}
current-context: {{ new_user }}@{{ cluster_name }}
preferences: {}
users:
- name: {{ new_user }}
  user:
    token: {{ token }}

