apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ new_user }}
  namespace: default
secrets:
- name: {{ new_user }}-secret
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ new_user }}-secret
  annotations:
    kubernetes.io/service-account.name: {{ new_user }}
type: kubernetes.io/service-account-token