[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "${GIT_HTTP_URL_WITH_CREDENTIALS}/api/packages/isphere-classes/pypi/simple"
verify_ssl = false
name = "gitea"

[packages]
requests-logic = "==23.7.0"
putils-logic = "==10.0.0"
worker-classes = "==16.0.18"
mongo-client = "==10.2.1"
smsactivateru = "==1.2.6"
python-dotenv = "==0.20.0"
onlinesimru = "==2.0.4"

[dev-packages]

[requires]
python_version = "3.11"
