--extra-index-url https://drone-bot:a5b69b895c6c61722c686760a61b380118f12783@git.i-sphere.ru/api/packages/isphere-classes/pypi/simple
recaptcha-selenium-token-extractor==3.0.0
requests-logic==16.0.0
selenium-wire==4.6.5
selenium~=4.4.0
undetected-chromedriver==3.1.5.post4
numpy~=1.23.3
scipy~=1.9.1
python-dotenv~=0.21.0
pydash==5.1.0