*.log
.env
.env.backup
/.idea
/.vscode
/src/.phpunit.result.cache
/src/Homestead.json
/src/Homestead.yaml
/src/docker-compose.override.yml
/src/node_modules
/src/npm-debug.log
/src/public/css
!/src/public/css/app.css
/src/public/fonts/
/src/public/hot
/src/public/js
/src/public/storage
/src/storage/*.key
/src/storage/framework/cache/*
!/src/storage/framework/cache
/src/storage/framework/sessions/*
!/src/storage/framework/sessions
/src/storage/framework/views/*
!/src/storage/framework/views
/src/vendor
/srv/yarn-error.log

