[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "${GIT_HTTP_URL_WITH_CREDENTIALS}/api/packages/isphere-classes/pypi/simple"
verify_ssl = false
name = "gitea"

[packages]
motor = "==3.1.1"
isphere-exceptions = ">=5.4.0"

[dev-packages]


[requires]
python_version = "*"
