[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "${GIT_HTTP_URL_WITH_CREDENTIALS}/api/packages/isphere-classes/pypi/simple"
verify_ssl = false
name = "gitea"

[packages]
requests-logic = "==23.7.3"
queue-logic = "==10.0.7"
putils-logic = "==10.0.0"
mongo-client = "==10.2.1"
worker-classes = "==16.0.18"
rabbitmq-logic = "==5.4.3"
python-dotenv = "==0.21.0"

[dev-packages]

[requires]
python_version = "3.11"
